body
{
    width: 90%;
    margin: auto;
    margin-bottom: 10em;
}

.section-header
{
    font-size: 1.5em;
}

.section-subheader
{
    font-size: 1.25em;
}

.docu-image-small
{
    width: 200px;
}

.docu-image
{
    width: 600px;
}

.docu-image-large
{
    width: 1000px;
}